$red: #D80000;
$black: #111;
$periwinkle: #7772CA;

$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e20031;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: $black;
$color__link: $red;
$color__link-visited: $red;
$color__link-hover: $black;
$color__text-main: #404040;

$color__border-abbr: #666;


