.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;

	.gallery-columns-2 & {
		max-width: 50%;
	}

	.gallery-columns-3 & {
		max-width: 33.33%;
	}

	.gallery-columns-4 & {
		max-width: 25%;
	}

	.gallery-columns-5 & {
		max-width: 20%;
	}

	.gallery-columns-6 & {
		max-width: 16.66%;
	}

	.gallery-columns-7 & {
		max-width: 14.28%;
	}

	.gallery-columns-8 & {
		max-width: 12.5%;
	}

	.gallery-columns-9 & {
		max-width: 11.11%;
	}
}

.gallery-caption {
	display: block;
}

// Homepage slideshow
.slideshow-container {
	position: relative;
	-webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
	       -moz-animation: fadein 3s; /* Firefox < 16 */
	        -ms-animation: fadein 3s; /* Internet Explorer */
	         -o-animation: fadein 3s; /* Opera < 12.1 */
	            animation: fadein 3s;
	}

	@keyframes fadein {
	    from { opacity: 0; }
	    to   { opacity: 1; }
	}

.slideshow-container {
	.ml-slider {
		width: 80% !important;
		margin: 40px auto 0;
	}

	.frame {
		background: url('../images/DF-frame-white-bg.png') no-repeat 0 0;
		background-size: 100% 100%;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		// opacity: 0.5;
	}
}